{
  "presets": [
    [
      "env",
      {
        "uglify": true,
        "modules": false,
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": ["transform-runtime", "syntax-dynamic-import"],
  "ignore": ["/node_modules/"]
}
