{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  },
  "rules": {
    "camelcase": "off",
    "quote-props": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "no-console": "off",
    "max-len": "off",
    "no-unused-vars": "off",
    "no-param-reassign": ["error", { "props": false }]
  }
}
