$blue: #3F88D4;
$darkBlue: #3B67BC;
$lightGray: #dfe3e8;
$gray: #DBDFE7;
$darkGray: #979797;
$black: #111112;
$white: #ffffff;
$footerBg: #101c3b;
$inputBorder: #919daa;
$android: #a0be53;
$ios: #2c99fb;
$error: #df1f19;